name: "Test"
on:
  workflow_dispatch:
#  pull_request:
#  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
    - run: nix run ./validation#colima

